---
extends: default

rules:
  # 80 chars should be enough, but don't fail if a line is longer
  line-length:
    max: 260
    level: warning

  indentation:
    indent-sequences: whatever
    level: warning

